.fc-prev-button {
  background: var(--color-primary) !important;
}

.fc-next-button {
  background: var(--color-primary) !important;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-today-button .fc-button .fc-button-primary {
  background-color: var(--color-primary) !important;
}

.fc-header-toolbar {
  background: var(--color-primary) !important;
  color: white !important;
  padding: 10px !important;
  font-size: 16px !important;
}

.fc-media-screen {
  border: 1px solid var(--color-primary) !important;
}

.fc-scrollgrid-section-header {
  background: var(--color-primary) !important;
  color: white !important;
  padding: 10px !important;
  font-size: 16px !important;
}

.fc-daygrid-day-frame {
  border: 1px solid rgba(2, 0, 33, 0.507) !important;
}

.fc-daygrid-day-events {
  min-height: 70px !important;
}